body {
  font-family: Onest, sans-serif;
  color: rgb(57, 57, 57);
  font-size: 18px;
  line-height: 1.667em;
  font-weight: 500;
}
html.w-mod-touch * {
  background-attachment: scroll !important;
}

.intro-container {
  padding-top: 93px;
  padding-bottom: 148px;
  position: relative;
  margin: 8em;
  margin-top: 0em;
  margin-bottom: 0em
}
.tele {
  margin-top: 1em;
}

.intro-text {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.intro-text > p {
  white-space: nowrap;
}

.intro-inner-text {
  color: rgb(11, 11, 11);
  font-size: 72px;
  line-height: 1.181em;
  font-weight: 700;
}
.name {
  padding-right: 4px;
    padding-left: 4px;
    background-image: linear-gradient(transparent 6%, rgb(255, 74, 96) 0px);
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.designer {
  color: rgb(11, 11, 11);
  font-size: 72px;
  line-height: 1.181em;
  font-weight: 700;
}

.place {
  padding-right: 4px;
  padding-left: 4px;
  background-image: linear-gradient(transparent 10%, rgb(28, 146, 255) 0px);
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.intro-btn {
  display: flex;
  justify-content: flex-start;
  margin-left: -31px

}

.btn:hover {
  background-color: rgb(11, 11, 11);
  transform: translate3d(0px, -3px, 0.01px);
  color: rgb(255, 255, 255);
  border-color: rgb(11, 11, 11);
}

.btn {
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(11, 11, 11);
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 1.111em;
  font-weight: 700;
  text-align: center;
  transform-style: preserve-3d;
  padding: 26px 38px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(11, 11, 11);
  border-radius: 16px;
  transition: border-color 300ms ease 0s, background-color 300ms ease 0s, transform 300ms ease 0s, color 300ms ease 0s, -webkit-transform 300ms ease 0s;
  text-decoration: none;
  margin: 1.5em;
}

.me-img {
    max-width: 500px;
    width: 100%;
    height: 100%;
    box-shadow: rgb(11, 11, 11) 13px 13px 0px 0px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(11, 11, 11);
    border-radius: 32px;
    margin-top: 2em;
}

.two-piece {
  display: flex;
  margin: 4em;
  margin-top: 0em; 
}

.click-btn {
  background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 900;
}