body {
  font-family: Onest, sans-serif;
  color: rgb(57, 57, 57);
  font-size: 18px;
  line-height: 1.667em;
  font-weight: 500;
}


@media screen and (max-width: 767px) {
  .nav-bar { 
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
  }
}

.nav-bar{
    position: relative;
    opacity: 1;
    z-index: 1000;
    background: rgb(221, 221, 221);
    padding-top: 34px;
    padding-bottom: 34px;
    background-color: transparent;
    margin-top: 4em;
    margin-right: 17em;
    margin-left: 17em;
}

.bitmoji {
  margin-right: 5em;
}
.nav-list > li > button {
  font-weight: 900;
    font-size: 27px;
    background-color: white;
    line-height: 1.667em;
    margin-left: 1em;
}

.nav-bar {
  box-shadow: rgb(11, 11, 11) 7px 7px 0px 0px;
  display: flex;
    -webkit-box-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 14px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(11, 11, 11);
    border-radius: 18px;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-column-gap: 12px;
    font-size: xx-large;
    margin-right: 6em;
    font-weight: 900;
}

.small-btn {
  margin-left: 24px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 13px;
  border-radius: 12px;
}

.small-btn:hover {
  background-color: rgb(28, 146, 255);
  transform: translate3d(0px, -3px, 0.01px);
  color: rgb(255, 255, 255);
  border-color: rgb(28, 146, 255);
}