
html.w-mod-touch * {
  background-attachment: scroll !important;
}
.footer-container {
  margin-top: 4em;
}

.footer-wrapper {
  background-color: black;
  margin-bottom: 3em;
}
.footer-newsletter {
  margin-bottom: -1px;
  background-image: linear-gradient(0deg, #0b0b0b, #000 60%, #fff 0, transparent 0);
}
.container-d-default-w-container  {
  max-width: 1300px;
  padding-right: 24px;
  padding-left: 24px;
  margin-left: auto;
  margin-right: auto;
}

.flex-horizontal space-between flex-vertical-tbl {
  justify-content: space-between;
  -webkit-box-pack: justify;
  display: flex;
  flex-direction: row;
  width: 169%;
}

.footer-image-wrapper {
  min-height: 190px;
  min-width: 190px;
  margin-top: -1em;
  overflow: hidden;
  transform: translate(0px, 0px);
  position: relative;
}
.footerimage {
  border: 0;
  width: 310%;
  height: 100%;
  position:relative;
  z-index: 3;
  overflow: clip;
  vertical-align: middle;
  overflow: clip;
}
.form-spacing {
  margin-left: 4em;
}

.wrapper-adjust {
  display: flex;
  width: 300%;
  margin-left: 62px;
  position: relative;
  z-index: 2;
}

.email-adjuster {
  display: flex;
  /* width: 128%;
  height: 19%; */
}


.newsletter-wrapper {
  display: flex;
  width: 80%;
  height: 4em;
  padding: 30px 30px 30px 112px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border-style: solid;
  border-width: 3px;
  border-color: #0b0b0b;
  border-radius: 24px;
  background-color: #fff;
  margin-right: 13em;
} 

.display-4 {
  color: #0b0b0b;
  font-size: 28px;
  line-height: 1.429em;
  font-weight: 700;
}

.footer-form-block {
  display: flex;
  width: 100%;
  max-width: 470px;
  min-height: 72px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0 0 15px;
}
.footer-field-label {
  display: none;
}
.footer-label {
  display: block;
  margin-bottom: 16px;
  color: #0b0b0b;
  font-size: 18px;
  line-height: 1.111em;
  font-weight: 700;
}
.footer-input {
  min-height: 72px;
  width: 21em;
  margin-bottom: 0px;
  padding: 16px 24px;
  border-style: solid;
  border-width: 3px;
  border-color: #0b0b0b;
  border-radius: 16px;
  background-color: #fff;
  transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
  color: #0b0b0b;
  font-size: 18px;
  line-height: 1.111em;
  font-weight: 700;
}

.footer-top.border-bottom {
    padding-bottom: 80px;
    border-bottom: 1px solid #393939;
}
.footer-bottom.border-top-0px {
    border-top-width: 0px;
}

.footer-copyright {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  font-weight: 500;
  color: white;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  
}

.footer-bottom-margin {
  margin-bottom: 3em;
}

.footer-logo {
  background-color: black;
  border-bottom: black;
  display: flex;
  justify-content: space-evenly;
  padding-top: 5em;
}

.footer-img {
  max-width: 100px;
    max-height: 100px;
    width: 70px;
    cursor: pointer;
}

.footer-img:hover {
  transform: translate3d(0px, -3px, 0.01px);
}

.footer-move-btn {
  background-color: black;
}