body {
  font-family: Onest, sans-serif;
  color: rgb(57, 57, 57);
  font-size: 18px;
  line-height: 1.667em;
  font-weight: 500;
}
html.w-mod-touch * {
  background-attachment: scroll !important;
}

.intro-container {
  padding-top: 93px;
  padding-bottom: 148px;
  position: relative;
  margin-top: 0em;
  margin-bottom: 0em;
}
.tele {
  margin-top: 1em;
}

.intro-text {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.intro-text > p {
  white-space: nowrap;
}

.intro-inner-text {
  color: rgb(11, 11, 11);
  font-size: 72px;
  line-height: 1.181em;
  font-weight: 700;
}
.name {
  padding-right: 4px;
  padding-left: 4px;
  background-image: linear-gradient(transparent 6%, rgb(255, 74, 96) 0px);
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.designer {
  color: rgb(11, 11, 11);
  font-size: 72px;
  line-height: 1.181em;
  font-weight: 700;
}

.place {
  padding-right: 4px;
  padding-left: 4px;
  background-image: linear-gradient(transparent 10%, rgb(28, 146, 255) 0px);
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.intro-btn {
  display: flex;
  justify-content: flex-start;
  margin-left: -31px;
}

.btn:hover {
  background-color: rgb(11, 11, 11);
  transform: translate3d(0px, -3px, 0.01px);
  color: rgb(255, 255, 255);
  border-color: rgb(11, 11, 11);
}

.btn {
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(11, 11, 11);
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 1.111em;
  font-weight: 700;
  text-align: center;
  transform-style: preserve-3d;
  padding: 26px 38px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(11, 11, 11);
  border-radius: 16px;
  transition: border-color 300ms ease 0s, background-color 300ms ease 0s,
    transform 300ms ease 0s, color 300ms ease 0s,
    -webkit-transform 300ms ease 0s;
  text-decoration: none;
  margin: 1.5em;
}

.me-img {
  max-width: 500px;
  width: 100%;
  box-shadow: rgb(11, 11, 11) 13px 13px 0px 0px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(11, 11, 11);
  border-radius: 32px;
  margin-top: 2em;
}

.two-piece {
  display: flex;
  margin: 11em;
  margin-bottom: 0;
  margin-top: 61px;
}

.click-btn {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .intro-text {
    text-align: center;
  }
  .intro-inner-text {
    font-size: 50px;
    padding: 0.5%;
  }
  .designer {
    font-size: 50px;
  }
  .intro-container {
    margin: 0%;
    padding-bottom: 0%;
  }
  .two-piece {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto !important;
  }
  .intro-btn {
    margin: auto;
    flex-direction: row;
    justify-content: center;
  }
  .btn {
    margin: 0.5em;
    max-height:44px;
  }
  
  .btn:nth-child(2) {
    /* background-color: #1c92ff;
    border: blue;
    padding-top:1px;
    max-height: 44px; */
  }
  .click-btn {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 900;
}
  .btn:nth-child(1) .click-btn {
    background-color: black;
    border: black;
    max-height: 19px;
    margin-top: 0;
    font-size: 14px;
    margin-bottom: -1px;
  }

  .btn:nth-child(2) .click-btn {
    /* background-color: #1c92ff; */
    border: blue;
    max-height: 19px;
    margin-top: 0;
    font-size: 14px;
    margin-bottom: -1px;
  }
  .me-img {
    display: none;
  }
}
